48089 <a48089@alunos.isel.pt> <andre@pascoa.org>
48280 <a48280@alunos.isel.pt> <andre.jesus.pilar@gmail.com>
48287 <a48287@alunos.isel.pt> <nyckbrandao1236@gmail.com>
48089 <a48089@alunos.isel.pt> <A48089@alunos.isel.pt>
48280 <a48280@alunos.isel.pt> <74548852+Andre-J3sus@users.noreply.github.com>