<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BattleshipsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Battleships"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".activities.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Battleships">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.gameplay.BoardSetupActivity" />
        <activity android:name=".activities.gameplay.GameplayActivity" />
        <activity android:name=".activities.gameplay.GameplayMenuActivity" />
        <activity android:name=".activities.gameplay.GameConfigurationActivity" />
        <activity android:name=".activities.gameplay.LobbyActivity" />
        <activity android:name=".activities.gameplay.QuickPlayActivity" />
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".activities.authentication.RegisterActivity" />
        <activity android:name=".activities.authentication.LoginActivity" />
        <activity android:name=".activities.RankingActivity" />
    </application>

</manifest>