<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BattleshipsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Battleships"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.screens.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Battleships">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.screens.gameplay.boardSetup.BoardSetupActivity" />
        <activity android:name=".ui.screens.gameplay.gameplay.GameplayActivity" />
        <activity android:name=".ui.screens.gameplay.gameplayMenu.GameplayMenuActivity" />
        <activity android:name=".ui.screens.gameplay.createGame.CreateGameActivity" />
        <activity android:name=".ui.screens.gameplay.lobby.LobbyActivity" />
        <activity android:name=".ui.screens.gameplay.matchmake.MatchmakeActivity" />
        <activity android:name=".ui.screens.about.AboutActivity" />
        <activity android:name=".ui.screens.authentication.register.RegisterActivity" />
        <activity android:name=".ui.screens.authentication.login.LoginActivity" />
        <activity android:name=".ui.screens.ranking.RankingActivity" />
    </application>

</manifest>